@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-header {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }

  .clip-reverse {
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }

  .clip-footer {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }

  .hero-banner {
    background-image: linear-gradient(
        rgba(239, 94, 18, 0.8),
        rgba(239, 94, 18, 0.8)
      ),
      url("/src/assets/hero-banner.jpg");
  }
}
